.gray-div {
    background-color: lightgray;
    padding: 5px;
    margin: 5px;
    min-height: 100px;
}

.gray-div > div {
    margin: 10px;
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.blue-div {
    background-color: dodgerblue;
}

.green-div {
    background-color: green;
}

.red-div {
    background-color: #FF696D;
}

.red-text {
    color: #FF696D;
}

.yellow-div {
    background-color: #FFD347;
}

.flexbox-parent {
    display: flex;
}