/* General Styles */

body {
    margin: 0;
    background-color: whitesmoke;
}

main {
    margin: 8px;
}

.navbar {
    background-color: #5f5f5f;
    display: flex;
    justify-content: flex-start;
    text-transform: uppercase;
}

.navbar a {
    color: #ffffff;
    display: block;
    padding: 15px 10px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #707070;
    cursor: pointer;
}

.navbar a.active {
    background-color: #707070;
}

.section-wrapper {
    border: 2px solid darkgray;
    padding: 5px;
    margin-bottom: 1em;
}

.section-wrapper ul li {
    line-height: 1.5em;
}

.subnavbar {
    background-color: lightgray;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1em;
    text-transform: uppercase;
}

.subnavbar a {
    color: #5f5f5f;
    display: block;
    font-weight: bold;
    padding: 15px 10px;
    text-decoration: none;
}

.subnavbar a:hover {
    cursor: pointer;
    opacity: 0.5;
}

.subnavbar a.active {
    text-decoration: underline;
}

.gray-div {
    background-color: lightgray;
    margin: 5px;
    min-height: 100px;
    padding: 10px;
}

.gray-div > div {
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.blue-div {
    background-color: dodgerblue;
}

.blue-text {
    color: dodgerblue;
}

.green-div {
    background-color: green;
}

.purple-div {
    background-color: mediumpurple;
}

.red-div {
    background-color: #FF696D;
}

.red-text {
    color: #FF696D;
}

.yellow-div {
    background-color: #FFD347;
}


/* Flexbox Properties */

.flexbox-parent {
    display: flex;
}

.flexbox-parent-column {
    display: flex;
    flex-direction: column;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.flex-center {
    justify-content: center;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-space-around {
    justify-content: space-around;
}

.flex-align-start {
    align-items: flex-start;
}

.flex-align-end {
    align-items: flex-end;
}

.flex-align-center {
    align-items: center;
}

.flex-align-stretch {
    align-items: stretch;
}

.flex-align-baseline {
    align-items: baseline;
}

.flex-self-align-auto {
    align-self: auto;
}

.flex-self-align-start {
    align-self: flex-start;
}

.flex-self-align-end {
    align-self: flex-end;
}

.flex-self-align-center {
    align-self: center;
}

.flex-self-align-stretch {
    align-self: stretch;
}

.flex-self-align-baseline {
    align-self: baseline;
}