.gray-div {
    background-color: lightgray;
    padding: 5px;
    margin: 5px;
    min-height: 100px;
}

.gray-div > div {
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.blue-div {
    background-color: dodgerblue;
}

.green-div {
    background-color: green;
}

.red-div {
    background-color: #FF696D;
}

.red-text {
    color: #FF696D;
}

.yellow-div {
    background-color: #FFD347;
}

.flexbox-parent {
    display: flex;
}

.flexbox-parent-column {
    display: flex;
    flex-direction: column;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.flex-center {
    justify-content: center;
}

.flex-space-between {
 justify-content: space-between;
}

.flex-space-around {
    justify-content: space-around;
}

.section-wrapper {
    border: 2px solid darkgray;
    padding: 5px;
    margin-bottom: 1em;
}