.card-container {
    width: 50%;
    height: 150px;
}
.card {
    padding: 10px;
}

.imagen {
    margin: 10px;
}
.texto {
    text-align: center;
    font-size: 14px;
}
.wcs-column {
    display:flex;
}
a {
    display:block;
}