.card-container {
    width: 50%;
    height: 150px;
    margin: 5px;
}
.card {
    padding: 10px;
}

.imagen {
    margin: 10px;
}
.texto {
    text-align: center;
    font-size: 14px;
}
.wcs-column {
    display:flex;
}
a {
    display:block;
}

#ansv{
    border-radius: 20px;
    border: 6px dashed palevioletred;
    height: auto;
}
#ansvtexto{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    background-color:thistle;
    height: auto;
    padding: 5px;
    border-radius: 10px;
}
#ansvtexto button:hover{
    color: white;
    background-color: palevioletred;
    border-radius: 5px;
    font-weight: bolder;
}

#ansvimagen{
    float: left;
    height: auto;
}
#ansvimagen img{
    border-radius: 10px;
    max-width: 130px;
    height: auto;
}

#lagg{
    flex-direction: row;
    letter-spacing: 2px;
    line-height:12.5px;
    background-color: rgb(209, 209, 209);
    border-radius: 20px; 
    width: 50%;
    box-sizing: inherit;
    font-style: normal;
    font-family: 'Ubuntu', sans-serif;
}
#laggimagen{
    float: left;
    max-width: 100%;
    height: auto;
 }
#laggtexto{
    white-space:nowrap;
    text-align: justify;
    float: right;
    width: 500px;
    height: 300px;
}
#laggbutton{
    border: 1px solid rgb(88, 66, 82);
    margin:0px;
}

#mgarcia7{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    background-color: rgba(124, 34, 64, 0.425);
    border: 1px solid rgb(94, 6, 35);
    border-radius: 7px;
}

#mgarcia7imagen{
    float: left;
    display: block;
    border-radius: 150px;
}

#mgarcia7button{
    color: slategray;
    border-radius: 5px;
    border: 1px solid rgb(88, 66, 82);
    cursor: pointer;
   
}

#IMC {
    background-color: rgb(231, 231, 126);
    display: flex;
    border-radius: 5px;
    box-shadow: 0.625rem 0.625rem 0 0 rgba(0,0,0,.2);
  }

#IMI {
    width: 100px; 
    height: 100px;
    border-radius: 5px;
    box-shadow: 0.625rem 0.625rem 0 0 rgba(0,0,0,.2);
    float: left;
    justify-content: left;
  }

#IMT {  
    text-align-last: right;    
    justify-content: right;
}

#IMB {
    outline-style: double;
    outline-color: greenyellow;
    text-align-last: right;
  }


#nalleN {
    background-color: lightcoral;
    border-radius: 5px;
    margin: 10px;
    }

#nalleNimagen { 
   float: left;    
   width: 110px;
   height: 110px;
   }

#nalleNtexto {
    text-align: center;
    float: center;
    font-size: 12px;
}

#nalleNbutton {
   background-color: white;
   color: purple; 
   border:none; 
   border-radius: 3px;
    padding: 4px;
    margin: 5px;
    font-size: 12px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    cursor: pointer;
    }

#nalleNbutton:hover {
    background-color: purple;
    color: white; 
 }
    

    
   

/* llh card styles */
  #llh {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: dimgray;
      background-color: rgb(138, 243, 208);
      border: 3px solid rgb(126, 122, 122);
  }
  #llhimg {
      float: left;
      max-width: 80px;
      max-height: 80px;
      border: 8px solid gray;
      vertical-align: middle;
  }

 /*MFGG Card styles */


#MFGGText{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    background-color: #f7cac9 ;
    border: 4px solid#57084a;
    border-style: dashed; 
    text-align: justify;
    
}

#MFGGIMG {
    float: left;
    max-width: 120px;
    max-height: 120px;
    vertical-align: middle;
    border-radius:150px;
    border:2px solid #57084a;
    
   
    
}

#MFGGbutton {
   background-color: thistle;
    border-radius:6px ;
    border: 2px double  #57084a ;
    color: rgb(93, 9, 74);
    font-style: oblique;
    text-decoration: wavy;
    text-transform: lowercase;
    
    
}
#vera{
    background-color:rgb(151, 86, 91);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 6px;
}
#veraimagen{
    float:left;
    width: 100px;
    height: 100px;
}

#verabutton{
    background-color: rgb(235, 193, 195);
    border-radius: 10px;
}

/*marr Card styles */

#marr{
    background-color: rgb(10, 255, 202);
    border-radius: 10px; 
    border: 3px dotted blue ;
    width: 50%;
}

#marr_txt{
    font-family: 'Monsterrat', 'Montserrat-Regular';
    font-style: normal;
    letter-spacing: 1.5px;
}   
#marrphoto{
    float: left;
    max-width: 110px;
    max-height: 110px;
    vertical-align: middle;
    border: 2px solid rgb(42, 127, 255);
    border-radius: 5px;  
}      
#marrbttn{
    background-color: gray;
    vertical-align: bottom;
}   

